html {
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 1rem;
  line-height: 20px;
  background-color: #f6f9fc;
  margin: 0 !important;
}
.row {
  margin-bottom: 0px;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
}
.logo-icon {
    margin-bottom: -80px;
    margin-right: -80px;
    float: left;
}
.block {
  text-align: center;
  background: #c0c0c0;
  border: #a0a0a0 solid 1px;
  margin: 20px;
  height: 100vh;

}
a {
  color: #FFC107;
  font-size: 14px;
  text-decoration: none;
}

.card-align{
  margin: 2rem auto;
  max-width: 570px;
}
.card-align-md{
  margin: 2rem auto;
  width: 80%;
}
.card-container {
  padding: 1rem;
  background-color: #FFF;
  margin-bottom: 0.5rem;
}
.card-action{
  padding: 0;
  text-align: right;
}
.card-title{
  margin-bottom: -32px;
  text-transform: none;
}
.link-item{
  font-size: 80%;
  padding: 8px 0;
}

.block:before {
  content: '\200B';
/*   content: '';
  margin-left: -0.25em; */
  display: inline-block;
  height: 100%;
  vertical-align: middle;
 }

.centered {
  display: inline-block;
  vertical-align: middle;
  width: 500px;
  padding: 10px 15px;
  /*border: #a0a0a0 solid 1px;*/
  background: #FFF;
  position:fixed;
 }

.table-header {
    background-color: '#e57373';
    font: white;
}
.table-header tr th {
  font-weight: 700;
}

.activity-indicator {
	width: 100%;
	height: 100%;
	min-height: 50px;
	position: relative;
}
.activity-indicator * {
	box-sizing: border-box
}

.activity-indicator > div {
	left: 50%;
	top: 50%;
	width: auto;
	display: inline-block;
	position: absolute;
	transform: translate(-50%, -50%);
}

.activity-indicator > div > div {
	transition-duration: 0.4s;
}
.loaded-contents {
  margin: 25px;
}

.login-form-textfield {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 10;
  color: gray;
}
.signin-button {
  position: relative;
  bottom: 7px;
}
.signin-button i button div span {
  font-style: italic;
  font-size: 85% !important;
}

.signin-license-button span {
  font-style: italic;
  font-size: 80% !important;
  padding-left: 4px !important; 
}
button span {
  text-transform: capitalize !important;
}
.register-dropdown button svg {
  margin-left: 24px;
  margin-top:4px;
}

.toastr-message {
  font-size: 12px;
  font-style: normal;
  /*background-color: #f45a5a;*/
}